// Add your own custom styles here
@media screen and (min-width: 1280px) {
  .liveeditor {
    min-width: calc(100% + 260px);
    margin-left: -130px;
  }
}

.liveeditor {
  width: 100%;
  height: 70vh;
  border: 1px solid #000;
}

.circle-image {
  border-radius: 50%;
}
