/* table of contents */
.table-of-content {
  @apply overflow-hidden rounded;
}

/* share icons */
.share-icons .share-link {
  @apply h-9 w-9 rounded leading-9 bg-primary hover:bg-primary dark:bg-darkmode-primary dark:hover:bg-darkmode-primary;
}

.share-icons .share-icon svg {
  @apply dark:fill-darkmode-light;
}

/* notice */
.notice {
  @apply rounded-lg;
}

/* tab */
.tab {
  @apply border-border dark:border-darkmode-border overflow-hidden rounded-lg border;
}
.tab-nav {
  @apply border-border bg-light dark:border-darkmode-border dark:bg-darkmode-light pl-4;
}
.tab-nav-item {
  @apply text-text-dark dark:text-darkmode-text-dark px-8 !text-lg;
}
.tab-nav-item.active {
  @apply border-dark dark:border-darkmode-primary;
}

.tab-content-panel {
  @apply px-4 !pt-0;
}

/* accordion */
.accordion {
  @apply border-border bg-light dark:border-darkmode-border dark:bg-darkmode-light mb-6 overflow-hidden rounded-lg border;
}
.accordion-header {
  @apply text-text-dark dark:text-darkmode-text-dark;
}

/* cookie consent */
.cookie-box {
  @apply !rounded-lg;
}

/* slider */
.gallery-slider {
  @apply !ml-0;
}

code {
  color: #f8f8f2 !important;
}

/* For dark mode specifically */
@media (prefers-color-scheme: dark) {
  code {
    color: #f8f8f2 !important;
  }
}

kbd {
  /* Basic styling */
  display: inline-block;
  padding: 3px 5px;
  font:
    11px "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    monospace;
  line-height: 10px;
  vertical-align: middle;
  border-radius: 3px;

  /* Light mode */
  color: #444d56;
  background-color: #fafbfc;
  border: 1px solid #d1d5da;
  box-shadow: inset 0 -1px 0 #d1d5da;
}

/* Dark mode */
@media (prefers-color-scheme: dark) {
  kbd {
    color: #c9d1d9;
    background-color: #2f3439;
    border: 1px solid #6e7681;
    box-shadow: inset 0 -1px 0 #6e7681;
  }
}
