<!-- Custom OpenGraph with processed images -->
{{- $title := .Title -}}
{{- $description := .Description | default .Summary -}}
{{- $url := .Permalink -}}


<meta property="og:title" content="{{ $title }}" />
<meta property="og:description" content="{{ $description }}" />
<meta
  property="og:type"
  content="{{ if .IsPage }}
    article
  {{ else }}
    website
  {{ end }}" />
<meta property="og:url" content="{{ $url }}" />
<meta property="og:site_name" content="{{ site.Title }}" />

{{- with .Params.image -}}
  <meta property="og:image" content="{{ . | absURL }}" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
{{- end -}}


<!-- Twitter Cards -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ $title }}" />
<meta name="twitter:description" content="{{ $description }}" />
{{- with .Params.image -}}
  <meta name="twitter:image" content="{{ . | absURL }}" />
{{- end -}}
